@font-face {
  font-family: "iconfont"; /* Project id 4749280 */
  src: url('iconfont.woff2?t=1737621034818') format('woff2'),
       url('iconfont.woff?t=1737621034818') format('woff'),
       url('iconfont.ttf?t=1737621034818') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-save-setting:before {
  content: "\e700";
}

.icon-baocun:before {
  content: "\e665";
}

.icon-baocun1:before {
  content: "\e620";
}

.icon-reset:before {
  content: "\e621";
}

.icon-light:before {
  content: "\e61d";
}

.icon-dark:before {
  content: "\e62e";
}

.icon-theme-dark:before {
  content: "\e61a";
}

.icon-theme-light:before {
  content: "\e6ce";
}

.icon-language:before {
  content: "\e637";
}

.icon-right:before {
  content: "\e773";
}

.icon-left:before {
  content: "\e77a";
}

.icon-yuyan-01:before {
  content: "\e618";
}

.icon-sort:before {
  content: "\e64e";
}

.icon-convert-type:before {
  content: "\e625";
}

.icon-text:before {
  content: "\e616";
}

.icon-more:before {
  content: "\e664";
}

.icon-text-gzip:before {
  content: "\e6c0";
}

.icon-decimal-convert:before {
  content: "\e663";
}

.icon-cn-unicode:before {
  content: "\e610";
}

.icon-sm2:before {
  content: "\e61e";
}

.icon-http:before {
  content: "\e614";
}

.icon-hash:before {
  content: "\e8b7";
}

.icon-symmetric-encryption:before {
  content: "\e801";
}

.icon-no-symmetric-encryption:before {
  content: "\e9c7";
}

.icon-xml:before {
  content: "\e730";
}

.icon-json-yaml:before {
  content: "\e6e8";
}

.icon-json-javascript:before {
  content: "\e605";
}

.icon-json-xml:before {
  content: "\e696";
}

.icon-history:before {
  content: "\e733";
}

.icon-home:before {
  content: "\e7d0";
}

.icon-settings:before {
  content: "\e643";
}

.icon-func-list:before {
  content: "\e661";
}

.icon-history3:before {
  content: "\e61f";
}

.icon-jilu:before {
  content: "\e69f";
}

.icon-star:before {
  content: "\e626";
}

.icon-img-watermark:before {
  content: "\e6bb";
}

.icon-current-time:before {
  content: "\e67f";
}

.icon-paused:before {
  content: "\e67b";
}

.icon-start:before {
  content: "\e64a";
}

.icon-words-count:before {
  content: "\e65c";
}

.icon-timestamp:before {
  content: "\e60c";
}

.icon-delete:before {
  content: "\e8b6";
}

.icon-download:before {
  content: "\e608";
}

.icon-amplifier:before {
  content: "\e619";
}

.icon-tupianmorentu:before {
  content: "\e656";
}

.icon-loadFailImg:before {
  content: "\e66c";
}

.icon-download-img:before {
  content: "\e6f6";
}

.icon-upload:before {
  content: "\e604";
}

.icon-upload-file:before {
  content: "\e648";
}

.icon-json-viewer:before {
  content: "\e649";
}

.icon-download-text:before {
  content: "\e9ce";
}

.icon-jietu:before {
  content: "\e795";
}

.icon-screen-share:before {
  content: "\e790";
}

.icon-huamianjietu_24:before {
  content: "\e7bd";
}

.icon-settings2:before {
  content: "\e654";
}

.icon-set-options:before {
  content: "\e62b";
}

.icon-set-options2:before {
  content: "\e655";
}

.icon-func-list2:before {
  content: "\e617";
}

.icon-zhuti10:before {
  content: "\fe89";
}

.icon-themes:before {
  content: "\e67d";
}

.icon-light-theme:before {
  content: "\e635";
}

.icon-dark-theme:before {
  content: "\e746";
}

.icon-copy:before {
  content: "\e69e";
}

.icon-weikaifang1:before {
  content: "\e67c";
}

.icon-no-auth:before {
  content: "\e769";
}

.icon-share-qrcode:before {
  content: "\e613";
}

.icon-qrcode:before {
  content: "\e701";
}

.icon-base64-text:before {
  content: "\e603";
}

.icon-code-diff:before {
  content: "\e6b4";
}

.icon-cn-algorithm:before {
  content: "\e671";
}

.icon-hex:before {
  content: "\e636";
}

.icon-url-parse:before {
  content: "\e7fd";
}

.icon-base64-img:before {
  content: "\e6cf";
}

.icon-code-copy:before {
  content: "\e612";
}

.icon-sql:before {
  content: "\e639";
}

.icon-suffix-sql:before {
  content: "\e66a";
}

.icon-Properties:before {
  content: "\e7bc";
}

.icon-json:before {
  content: "\e611";
}

.icon-YAML:before {
  content: "\e824";
}

.icon-compress:before {
  content: "\e628";
}

.icon-setting-option:before {
  content: "\e60b";
}

.icon-clean:before {
  content: "\e602";
}

.icon-escape:before {
  content: "\e60e";
}

.icon-un-escape:before {
  content: "\e772";
}

.icon-tuding-hou:before {
  content: "\e651";
}

.icon-tuding1:before {
  content: "\ec81";
}

.icon-tuding3:before {
  content: "\e66d";
}

.icon-top:before {
  content: "\edf8";
}

.icon-formatCode:before {
  content: "\e60f";
}

.icon-gongnengguanli:before {
  content: "\e606";
}

.icon-close:before {
  content: "\e662";
}

.icon-gongnengdingyi:before {
  content: "\eb62";
}

.icon-mn_gongneng_fill:before {
  content: "\e600";
}

.icon-mn_gongneng:before {
  content: "\e601";
}

.icon-shezhi2:before {
  content: "\e61b";
}

.icon-jichugongneng:before {
  content: "\e607";
}

.icon-maximize:before {
  content: "\e653";
}

.icon-min:before {
  content: "\e650";
}

.icon-max:before {
  content: "\e60a";
}

.icon-gongneng:before {
  content: "\e615";
}

.icon-zhiding1:before {
  content: "\e72e";
}

.icon-back-up:before {
  content: "\e609";
}

.icon-shezhi:before {
  content: "\e60d";
}

